<MarketplaceDetails>
  <SmallAppTile>Power CR Logo.png</SmallAppTile>
  <ScreenShots>Screen Capture (5).png;Screen Capture (3).png;Screen Capture (4).png;Screen Capture (9).png;Screen Capture (2).png;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>